<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin OTP Mail</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
    >

</head>

<body class="bg-light p-4">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header text-center bg-warning text-dark">
                    <h4 class="mb-0">Admin OTP Verification</h4>
                </div>

                <div class="card-body">
                    <p class="fs-5 fw-bold">Hello Admin,</p>

                    <p>Your OTP for admin login is:</p>

                    <div class="text-center my-3">
                        <h1 th:text="${otp}"></h1>
                    </div>

                    <p class="text-muted">
                        This OTP is valid for <strong>2 minutes</strong>.
                        Please do not share this with anyone.
                    </p>
                </div>

                <div class="card-footer text-center text-muted">
                    Thanks & Regard<br>
                    <strong>Cinexa</strong>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
