spring:
  application:
    name: cinexa

  server:
    port: 8080


  datasource:
    url: jdbc:mysql://localhost:3306/cinexa_db
    username: root
    password: hrishi@sql
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: ailhreshikesh@gmail.com
    password: mfbl tuzg xjsl zilu
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
